@font-face {
    font-family: 'PxGrotesk';
    src: url('../../assets/fonts/PxGrotesk-Light.otf');
}
@font-face {
    font-family: 'Optima LT Std';
    src: url('../../assets/fonts/Linotype\ -\ OptimaLTStd.otf');
}

.vehicle{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 520px; 
    object-fit:cover;
}

.vehicleTitle{
    color:rgb(172, 130, 109);
    font-size: 20px;
    font-family: "PxGrotesk";
    font-weight: bold;
}

.license{
    /* font-family: "Optima LT Std"; */
    margin-top: 20px;
    font-family: "PxGrotesk";
    font-size: 100px;
}

.make{
    font-size: 20px;
    font-weight: bold;
}

.makeTitle{
    font-size: 23px;
}

.makeTitle:before{
    margin-top: 20px;
    margin-bottom: 20px;
    content: '';
    display: block;
    position: relative;
    width: 85%;
    border: 1px solid rgb(234, 230, 219);
}



.colorTitle{
    font-size: 23px;
}

.colorTitle::before{
    margin-top: 20px;
    margin-bottom: 20px;
    content: '';
    display: block;
    position: relative;
    width: 85%;
    border: 1px solid rgb(234, 230, 219);
}

.color{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px){
    .vehicle{
        height: 390px; 
    }

    .vehicleTitle{
        margin-left: 20px;
        font-size: 18px;
    }

    .license{        
        margin-left: 20px;
        font-size: 80px;
    }

    .make{
        font-size: 17px;
    }
    
    .makeTitle{
        font-size: 23px;
    }

    .colorTitle{
        font-size: 23px;
    }

    .color{
        margin-bottom: 50px;
        font-size: 17px;
    }


}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px){
    .vehicle{
        height: 290px; 
    }

    .vehicleTitle{
        margin-left: 20px;
        font-size: 15px;
    }

    .license{        
        margin-left: 20px;
    }

    .make{
        font-size: 15px;
    }
    
    .makeTitle{
        font-size: 21px;
    }

    .colorTitle{
        font-size: 21px;
    }

    .color{
        margin-bottom: 50px;
        font-size: 15px;
    }
    
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px){
    .vehicle{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 270px; 
        object-fit:cover;
    }

    .vehicleTitle{
        margin-left: 20px;
        font-size: 12px;
    }

    .license{        
        margin-left: 20px;
    }

    .make{
        font-size: 13px;
    }
    
    .makeTitle{
        font-size: 17px;
    }

    .colorTitle{
        font-size: 17px;
    }

    .color{
        margin-bottom: 50px;
        font-size: 13px;
    }
}
   

   
