.circle{
    height: 10px;
    width: 10px;
    background-color: rgb(217, 216, 203);
    border-radius: 50%;
    display:inline-block;
    margin-right: 10px;
}

.active{
    background-color: rgb(30, 29, 30);
    
}

a{
    margin: -5px;
}

.nav{
    position: fixed;
    justify-content: right;
    flex-direction: column;
    top: 0px;
    right:0px;
    margin-top: 40px;
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px){

    .circle{
        margin-right: 20px;
    }
}