.footer {
    border-top:  2px solid rgb(234, 230, 219) ;
    /* position:fixed;
    bottom: 0; */
    text-align: center;
}

.destination{
    margin-top: 20px;
    margin-bottom:-20px;
    font-weight: bold;
    font-size: 22px;
    
}

.img{
    height: 40px;
    width: 40px;
}


.eta{
    font-size: 20px;
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px){
    .destination{
        font-size: 22px;
    }

    .eta{
        font-size: 20px;
    }
    .img{
        height: 40px;
        width: 40px;
    }
      
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px){

    .destination{
        font-size: 20px;
    } 
 
    .eta{
        font-size: 18px;
    }
     .img{
         height: 40px;
         width: 40px;
     }
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px){ 
    .destination{
        font-size: 18px;
    } 
 
    .eta{
        font-size: 16px;
    }

    .img{
    height: 30px;
    width: 30px;
    }
 
}






